batchexport_settings.py
zusiconfig.py
zusiconfig.py.__backup
release/*
TODO
callstats.txt
*.swp

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translation backups
*.po~

#Mr Developer
.mr.developer.cfg
